<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="baseUrl" value="http://localhost:83" />
    <add key="username" value="admin@test.test" />
    <add key="password" value="admin@2" />
    <add key="grant_type" value="password" />
    <add key="scope" value="openid" />
    <add key="client_id" value="testApp" />
    <add key="client_secret" value="fmDn02B2Gb" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>